{% extends 'base.html' %}


{% block title %}
Deliveries
{% endblock title %}



{% block content %}
<div class="container my-5">
    <h1 class="display-4">Deliveries</h1>
    <hr>
    <a class="btn btn-dark my-5"
        href="{% url 'stores:delivery-create' %}">add delivery</a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Delivered to</th>
                </tr>
            </thead>
            <tbody>

                {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{{ object.get_absolute_url }}">
                            {{object.product}}
                        </a>
                    </td>
                    <td>
                        <a href="{{object.supplier.get_absolute_url}}">
                            {{object.product.supplier}}
                        </a>
                    </td>
                    <td>{{object.qty}}</td>
                    <td>{{object.purchase_order|default:"--"}}</td>
                </tr>
                {% empty %}
                <td class="text-center"
                    colspan="4">No Deliveries</td>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>
{% endblock content %}