{% extends 'base.html' %}


{% block title %}
Products
{% endblock title %}



{% block content %}
<div class="container my-5">
    <h1 class="display-4">Products</h1>
    <hr>
    <a class="btn btn-dark my-5"
        href="{% url 'stores:create' %}">add product</a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Purchase order#</th>
                </tr>
            </thead>
            <tbody>

                {% for object in object_list %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{object.name}}</td>
                    <td>{{object.count}}</td>
                    <td>{{object.purchase_order}}</td>
                </tr>
                {% empty %}
                <td class="text-center" colspan="4">No Products</td>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>
{% endblock content %}