{% extends 'base.html' %}


{% block title %}
Suppliers
{% endblock title %}



{% block content %}
<div class="container my-5">
    <h1 class="display-4">Suppliers</h1>
    <hr>
    <a class="btn btn-dark my-5"
        href="{% url 'stores:supplier-create' %}">add supplier</a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">email</th>
                    <th scope="col">phone</th>
                    <th scope="col">website</th>
                </tr>
            </thead>
            <tbody>

                {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{{ object.get_absolute_url }}">
                            {{object.name}}
                        </a>
                    </td>
                    <td>{{object.email}} </td>
                    <td>{{object.phone}}</td>
                    <td>
                        <a target="_blank" href="{{object.website}}">
                            {{object.website}}
                        </a>
                    </td>
                </tr>
                {% empty %}
                <td class="text-center"
                    colspan="4">No Products</td>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>
{% endblock content %}