{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{object.name}}
{% endblock title %}



{% block content %}
<div class="container my-5">
<h1 class="fs-2"> {{object.name|title}}</h1>
<hr>
    <div class="card shadow-lg my-5"
        style="max-width: 36rem;">
        <div class="card-body">
            <p class="card-text">
                <a class="text-decoration-none text-dark"
                    href="mailto:{{object.email}}">
                    {{object.email}}
                </a>
            </p>
            <p class="card-text">
                <a class="text-decoration-none text-dark"
                    href="tel:{{object.phone}}">
                    {{object.phone}}
                </a>
            </p>
            <p class="card-text">{{object.address}}</p>
            <p class="card-text">{{object.city}}</p>
            <p class="card-text">
                <a target="_blank"
                    href="{{object.website}}">
                    {{object.website}}
                </a>
            </p>
        </div>
        <div class="card-footer bg-transparent">
            <a class="btn btn-warning" href="{{object.get_update_url}}">edit</a>
        </div>
    </div>
</div>
{% endblock content %}