<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/"
                    class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <h1 class="fs-1">Treasury</h1>
                </a>

                <ul
                    class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="#"
                            class="nav-link text-white">
                            Employees
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'stores:supplier-list' %}"
                            class="nav-link text-white">
                            Suppliers
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'stores:product-list' %}"
                            class="nav-link text-white">
                            Products
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'stores:order-list' %}"
                            class="nav-link text-white">
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'stores:delivery-list' %}"
                            class="nav-link text-white">
                            Deliveries
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                <input type="search"
                    class="form-control"
                    placeholder="Search..."
                    aria-label="Search">
            </form>

            {% if user.is_authenticated %}
            <div class="text-end">
                <a href=""
                    class="btn btn-sm btn-dark">Profile</a>
                <a href="{% url 'account_logout' %}"
                    class="btn btn-sm btn-outline-dark me-2">Logout</a>
            </div>
            {% else %}
            <div class="text-end">
                <a href="{% url 'account_login' %}"
                    class="btn btn-dark me-2">Login</a>
                <a href="{% url 'account_signup' %}"
                    class="btn btn-outline-dark">Sign-up</a>
            </div>
            {% endif %}


        </div>
    </div>
</header>